/* --------------------------------------------------------------------------
   Font-face
   -------------------------------------------------------------------------- */
@charset "UTF-8";

@font-face {
  font-family: 'OpenSans';
  src: font('opensans/OpenSans-Regular.eot');
  src: font('opensans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), font('opensans/OpenSans-Regular.woff') format('woff'), font('opensans/OpenSans-Regular.woff2') format('woff2'), font('opensans/OpenSans-Regular.ttf') format('truetype'), font('opensans/OpenSans-Regular.svg#OpenSans') format('svg');
  font-style: normal;
  font-weight: $font-regular;
}

@font-face {
  font-family: 'OpenSans';
  src: font('opensans/OpenSans-Bold.eot');
  src: font('opensans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), font('opensans/OpenSans-Bold.woff') format('woff'), font('opensans/OpenSans-Bold.woff2') format('woff2'), font('opensans/OpenSans-Bold.ttf') format('truetype'), font('opensans/OpenSans-Bold.svg#OpenSans') format('svg');
  font-style: normal;
  font-weight: $font-bold;
}

/* --------------------------------------------------------------------------
   Basic style
   -------------------------------------------------------------------------- */
html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}
<%-containerClass%>
body {
  color: $text-color;
  font-family: $font-family-text;
  font-size: $font-size-regular;
  line-height: 1.4;
}

/* --------------------------------------------------------------------------
   Typography
   -------------------------------------------------------------------------- */